<header class="navbar navbar-dark nga-navbar">
  <div class="container" style="padding-top: 15px; padding-bottom: 15px;">
    <div>
      <a routerLink="/" class="navbar-brand">
        <span class="nga-navbar-logo mx-1">Anasayfa</span>
      </a>
      <a routerLink="users" class="navbar-brand">
        <span class="nga-navbar-logo mx-2">Kullanıcılar</span>
      </a>
    </div>
    <div>
      <a routerLink="/" class="navbar-brand">
        <span class="nga-navbar-logo mx-1">Login</span>
      </a>
    </div>
  </div>
</header>
