@import "~bootstrap/dist/css/bootstrap.css";


@font-face {
  font-family: 'Custom';
  src: url('assets/fonts/sg.ttf') format('trutetype');
}

@font-face {
  font-family: "SG";
  src: local("SG"), url(./assets/fonts/sg.ttf) format("truetype");
}


* {
  font-family: 'SG';
}

.page-header{

}

.page-header h1{
    font-weight: 500;
    padding: 20px 0;
    margin: 0;
    margin-top: 20px;
}

.mt-1{
  margin-top: 20px;
}



